/**THE SAME CSS IS USED IN ALL 3 DEMOS**/    
/**gallery margins**/  
ul.gallery{    
margin-left: 3vw;     
margin-right:3vw;  
}    

.zoom {      
-webkit-transition: all 0.35s ease-in-out;    
-moz-transition: all 0.35s ease-in-out;    
transition: all 0.35s ease-in-out;     
cursor: -webkit-zoom-in;      
cursor: -moz-zoom-in;      
cursor: zoom-in;  
}     

.zoom:hover,  
.zoom:active,   
.zoom:focus {
/**adjust scale to desired size, 
add browser prefixes**/
-ms-transform: scale(2.5);    
-moz-transform: scale(2.5);  
-webkit-transform: scale(2.5);  
-o-transform: scale(2.5);  
transform: scale(2.5);    
position:relative;      
z-index:100;  
}

/**To keep upscaled images visible on mobile, 
increase left & right margins a bit**/  
@media only screen and (max-width: 768px) {   
ul.gallery {      
margin-left: 15vw;       
margin-right: 15vw;
}

/**TIP: Easy escape for touch screens,
give gallery's parent container a cursor: pointer.**/
.DivName {cursor: pointer}
}

table {
  margin-right:100px; 
  border-collapse: collapse;
}
table td {
  padding: 3.5rem;
  border: 0.02px solid #FF671F;
  border-style:solid;
  border-width:-0.1px; 

}
table tr:first-child td {
  border-top: 0;
}
table tr td:first-child {
  border-left: 0;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr td:last-child {
  border-right: 0;
}
.imgcontent{
  position: absolute;
}

.container12 {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}
.container12 .hcontent {
  position: absolute;
  bottom: 0;
  color: #ffffff;
  width: 100%;
  padding: 20px;
}
.test img{
  transition: width 2s, height 4s;
}

.test img:hover {
  width: 300px;
  height: 300px;
}

#col{
  margin-top:50px; 
  margin-bottom:50px;
}
#profileimg4{
  margin-left:160px;
  margin-top:20px;
  opacity:0.7;
  position:relative;
}


#profileimg3{
  margin-left:140px;
  padding:10px;
  margin-top:10px;
  opacity:0.7;
  position:relative;
}
#profileimg2{
  margin-top:20px;
  margin-left:140px;
  opacity:0.6;
  position:relative;
}
  #profileimg1{
   margin-top:19px;
   margin-left:130px;
   opacity:0.8;
   position:relative;
  }

/*.row__inner:hover {
  -webkit-0transform: translate3d(-10.5px, 0, 0);
          transform: translate3d(-10.5px, 0, 0);
}
.row__inner:hover .tile {
  opacity: 0.1;
}
.row__inner:hover .tile:hover {
  -webkit-transform: scale(0.5);
          transform: scale(1.5);
  opacity: 1;
}
.tile:hover ~ .tile {
  -webkit-transform: translate3d(125px, 0, 0);
          transform: translate3d(125px, 0, 0);
}
*/
#animation{

  -webkit-0transform: translate3d(-10.5px, 0, 0);
          transform: translate3d(-10.5px, 0, 0);
}

#animation img:hover{
  -webkit-transform: scale(0.5);
          transform: scale(1.5);
          -webkit-0transform: translate3d(-10.5px, 0, 0);
          transform: translate3d(-10.5px, 0, 0);
    width:250px;
    height:648px; 
   opacity:1;
  position:relative;
  }
  #animation p:hover{
    position:absolute;
    color:#ffffff;
    margin-left:140px;
  }


  #profilep1{
    position:absolute;
    color:#ffffff;
    margin-left:140px;
    margin-top:-210px;
    width:100%;
    line-height: 1.5;
  }
#profilep1 p:hover {
  position:absolute;
  color:red !important;
  width:100px;
  height:505px;
}

  #profilea1
  {
    position: absolute;
     margin-top:-75px;
     color:#ffffff;
     margin-left:140px;
  }
  #profilei1{
    padding:10px;
    text-align: center;
    font-size:17px;
    color:#FFFFFF;
    margin-right:-10px;
  }
#profileimg
{
  width:300px;
  height:645px;
  margin-top:20px;
  margin-right:10px;
  margin-left:50px;
  opacity:0.6;
  position:relative;
}

#profileimg :hover img{
  width:100px;
  height:505px;
}

#profilep{
  position:absolute;
  color:#ffffff;
  margin-left:70px;
  width:100%;
  margin-top:-210px;
  line-height:1.6;
}

#profileheading{
 position:absolute;
  color:#ffffff;
  margin-left:70px;
  width:100%;
  font-size:22px; 
  margin-top:-278px;
  line-height:1; 
}
#profileheading1{
 position:absolute;
  color:#ffffff;
  margin-left:135px;
  width:100%;
  font-size:22px; 
  margin-top:-278px;
  line-height:1; 
}
#profileheading2{
 position:absolute;
  color:#ffffff;
  margin-left:149px;
  width:100%;
  font-size:22px; 
  margin-top:-278px;
  line-height:1; 
}
#profileheading3{
 position:absolute;
  color:#ffffff;
  margin-left:159px;
  width:100%;
  font-size:22px; 
  margin-top:-278px;
  line-height:1; 
}
#profileheading4{
 position:absolute;
  color:#ffffff;
  margin-left:169px;
  width:100%;
  font-size:22px; 
  margin-top:-278px;
  line-height:1; 
}
/* Zoom Out #2 */
.hover04 figure img {
  width: 400px;
  height: auto;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.hover04 figure:hover img {
  width: 300px;
}


#profilea{ 
  position:absolute;
  margin-top:-50px; 
  color:#ffffff;
  margin-left:75px;
}

#profilei{
  padding:10px;
  font-size:17px;
  color:#FFFFFF;
  text-align: center;
}

#profilep2{
  position:absolute;
  color:#ffffff;
  margin-left:146px;
  margin-top:-210px;
  width:100%;
  line-height: 1.5;
}
#profilea2{
  position: absolute;
   margin-top:-75px;
   color:#ffffff;
   margin-left:145px;
}
#profilei2{
  padding:10px;
    text-align: center;
    font-size:17px;
    color:#FFFFFF;
    margin-right:-10px; 
}
#profilep3{
  position:absolute;
  color:#ffffff;
  margin-left:158px;
  margin-top:-220px;
  width:100%;
  line-height:1.5;
}
#profilea3{
  position:absolute;
   margin-top:15px;
   color:#ffffff;
   margin-left:168px;
}
#profilei3{
  padding:10px;
  text-align: center;
  font-size:17px;
  color:#FFFFFF;
  margin-right:-10px;
}

#profilea4{
  position:absolute;
  color:#ffffff;
  margin-left:170px;
  margin-top:15px;
}

#profilei4{
  padding:10px;
  text-align: center;
  font-size:17px;
  color:#FFFFFF;
  margin-right:-10px;
}
#about{
  margin-left:10px;
  font-size:50px;
  transform: rotate(270deg);
  transform-origin:left;
  margin-left:-25px;
  margin-top:200px;
  color:#FF671F;
}
#aboutborder{
border:3px solid #FF671F;
width:400px;
height:385px;
margin-top:30px;
margin-bottom:30px;
margin-left:40px;
}
#btnview{
  background-color: #FF671F; /* Green */
  border: none;
  color: #000;
  margin-right:18px; 
  padding:08px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
}

#btnview1{
   border: none;
  color: #000;
  padding:08px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
}

#aboutk{
margin-left:10px;
font-size:50px;
transform: rotate(270deg);
transform-origin:left;
margin-left:-25px;
margin-top:200px;
color:#FF671F;
}
#kain{
  margin-top:-210px;
  margin-left:10px; 
  font-size:50px;
  color:#fff;
}
#born{
  margin-top:150px;
  font-size:20px;
  color:#fff;
}
p{
  color:#fff;
}
#Commercials{
  margin-left:10px;
  font-size:55px;
  transform-origin:left;
  margin-left:-25px;
  margin-top:80px;
  margin-bottom:-44px; 
  color:#FF671F;
}

#border{
  border:3px solid #FF671F;
  width:400px;
  height:385px;
  margin-top:30px;
  margin-bottom:30px;
  margin-left:40px;
}

#imgg{
  width:95%;margin-left:-25px; margin-top:-25px;
}

#work{
  margin-left:10px;
  font-size:50px;
  transform: rotate(270deg);
  transform-origin:left;
  margin-left:-25px;
  margin-top:200px;
  color:#FF671F;
}

#with{
  margin-top:-260px;
  margin-left:15px; 
  font-size:50px;
  color:#fff;
}

#div{
  margin-left:130px;margin-top:0px;
}
#brand{
  width:100%;height:45%;
}
#footer {
          right: -150px;
          height:23em;    
          width:58em;  
          background-color:#4A4747;
        }
   
   #back{
          width:100%;
          height:100%;     
          background-color:#000;
   }
#footerborder{
  border:3px solid #FF671F;
  width:460px;
  height:405px;
  margin-left:100px;
}
#fcontact{
  font-size:45px;
  margin-bottom:35px;
  color:#FF671F;
}
#fcontent{
  font-size:20px;
  margin-bottom:28px;
  color:white;
}
#social{
   padding: 10px;
  font-size:28px;
  width: 50px;
  color:#FF671F; 
  text-align: center;
  text-decoration: none;
  margin: 1px 2px;
}